*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #000000;
    color: rgb(255, 255, 255);
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(blackbg.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
    border-radius: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: beige;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul  li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 10%;
    font-size: 30px;
    color: beige;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    color: #ff004f;
}

.header-text h6{
    margin-top: 20px;
}
/* <!-- ABOUT ME ______________________ --> */
#about{
    padding: 80px 0px;
    color: beige;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    height: 100%;
    height: 500px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    color: white;
    font-size: 60px;
    font-weight: 600;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li span{
    list-style: circle;
    margin: 10px 0px;
    color: #ff004f;
    font-size: 14px;
}
.tab-contents ul li p{
    color: beige;
}
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: none;
    display: block;
}

 /* photos______________________________________ */


#photos{
    padding: 30px 0;
}

.photo-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 190px));
    grid-gap: 40px;
    margin-top: 50px;
    
}

.photo-list div{
    background: #262626;
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}

.photo-list div:hover{
    background: #ff004f;
    transform: translateY(-50px);
}

/* contact------------- */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
} 

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 3px solid #ff004f;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
    background: #ff004f;
}

.btn:hover{
background: #262626;
color: #ff004f;

}
.contact-right form{
    width: 100%;
    }

form input, form textarea{
    width: 100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    border-radius: 10px;
}

.copyright i{
    color: #ff004f;
}